*, body {
	margin: 0;
	padding: 0;
}

.container {
	overflow: visible;
}

#login-page-background {
	background-color: #efefef;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#login-form {
	background-color: white;
	margin-top: 100px;
	padding: 30 50 50 50;
	position: relative;
	width: 100%;
}

#login-form-header {
	display: block;
	margin: 0;
	margin-bottom: 10;
	position: relative;
}

#login-form-img {
	padding: 20 0;
	width: 100%;
}

#login-form-img>img {
	display: block;
	margin: 0 auto;
	width: 300px !important;
}

.form-error {
	display: block;
	color: red;
}

.possibleAnswerRow-correct .form-input-transparent {
	/*background-color : #56CC9D;*/
	background-color: rgba(86, 204, 157, 0.7);
}

.possibleAnswerRow-incorrect .form-input-transparent {
	/*background-color : #FF7851;*/
	background-color: rgba(255, 120, 81, 0.7);
}

.form-input-transparent {
	background-color: rgba(0, 0, 0, 0);
}

.form-question-label, .form-answer-label {
	font-weight: bold;
}

.quizz-recap-question-header {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.quizz-recap-question-label {
	font-weight: bold;
}

.quizz-recap-answers {
	font-style: italic;
}

.quizz-recap-answer-correct {
	background-color: rgba(86, 204, 157, 0.7);
}

.quizz-recap-answer-incorrect {
	background-color: rgba(255, 120, 81, 0.7);
}

#startQuiz-title {
	border : 3px solid #5a5a5a;
	border-radius : 5px;
	padding : 20px 10px;
	text-align:center;
}

.awesomeForm {
	display: inline-block;
}

.runQuiz-possibleAnswers {
	margin : 20 0;
}

.runQuiz-possibleAnswer {
	background-color : #eee;
	font-size: 20px;
	margin : 2 0;
}

.runQuiz-possibleAnswer-selected {
	background-color: rgba(86, 204, 157, 0.7);
}

.runQuiz-possibleAnswer:hover {
	background-color : #ddd;
	cursor:pointer;
}

.runQuiz-possibleAnswer-selected:hover {
	background-color: rgba(86, 204, 157, 0.7);
}

.metric {
	background-color: #f7f7f9;
	border-radius: 0.6rem;
	display: inline-block;
	height: 48%;
	margin-bottom: 2rem;
	padding: 4rem 2rem;
	text-align: center;
	width: 24%;
}

.value {
	font-size: 3em;
}