*,body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#login-page-background {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #efefef;
}

#login-form {
	
	position: relative;
	width : 100%;
	padding: 30 50 50 50;
	margin-top: 100px;
	
	background-color: white;
}

#login-form-header {
	
	position: relative;
	display:block;
	margin : 0;
	margin-bottom : 10;
}

#login-form-img {
	width: 100%;
	padding: 20 0;
}

#login-form-img > img {
	
	width: 300px;
	display:block;
	margin: 0 auto;
	
}